<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>699798016122-trlgtten71avgisiev9bpk8ltec405tm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699798016122-trlgtten71avgisiev9bpk8ltec405tm</string>
	<key>API_KEY</key>
	<string>AIzaSyAq1JpIXF6yCcFmzWgJ7Fx0rmDujUDDlO8</string>
	<key>GCM_SENDER_ID</key>
	<string>699798016122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.massawippi.weatherlr</string>
	<key>PROJECT_ID</key>
	<string>weatherlrfree</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherlrfree.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:699798016122:ios:71d287315133be37</string>
	<key>DATABASE_URL</key>
	<string>https://weatherlrfree.firebaseio.com</string>
</dict>
</plist>